* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: none;
}
/* i rememebered from a old project to margin 0 and padding the whole page
helps, and just kept a habit of doing it*/

.container {
    height: 300px;
    background-color: black;
}

p {
    font-size: 1em;
    text-align: center;
    margin: auto 150px auto 150px;
}

h3 {
    margin-top: 30px;
    text-align: center;
}

h2{
    margin-top: 30px;
    text-align: center;
}

h1 {
    margin-top: auto;
    text-align: center;
}

section {
    margin: 50px 20px;
}

hr{
    color: black;
    height: 3px;
    margin: 70px 50px;
}

li {
    list-style-type: none;
    display: inline;
    float:right;
}

a {
    text-decoration: none;
    display: block;
    padding: 8px;
}

/* 
just had a total brainfart when it comes to using css,
i usually use a template like bootstrap to create more cohesive pages,
eventually I want to relearn css to do so.*/